/* RESET */ 

* {
    margin: 0;
    padding: 0;
}


/* LAYOUTS */

header {
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 10px;
}


/* COMPONENTES */ 

.container {
    background-color: gray;
    border: solid black 2px;
    padding: 10px;
    width: fit-content;
    margin-right: auto;     /* MACETE PARA ALINHAR , COLOCA RIGHT E LEFT EM AUTOMÃTICO */
    margin-left: auto;
    border-radius: 10px;
}


.search-container > input {
    padding: 10px;
 text-align: center;
    border-radius: 20px;
    font-size: 18px;
}

.search-container > button {

    display:block;
    padding: 10px 20px;
    margin: 0px auto;
    margin-top: 7px;
}


.character-container {
    margin-top: 20px;
    display: none;
}